//Színek
$szin-01: #fdc100;
$szin-02: #f18a00;
$szin-03: #ed7962;
$szin-04: #d64c49;
$szin-05: #a5c86a;
$szin-06: #4b9074;
$szin-07: #284d3b;
$szin-08: #e2e8f6;
$szin-09: #c0ceeb;
$szin-10: #a0b2da;
$szin-11: #d68651;
$szin-12: #b46b42;
$szin-13: #5a6086;
$szin-14: #111538;
$szin-15: #060725;
// Font
$font-primary: "Roboto", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // Browser default font-size: 16px -> 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  font-weight: 300;
}

.container {
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: $szin-10;
  font-size: calc(24px + (45 - 24) * ((100vw - 200px) / (1920 - 200)));
}

p {
  color: $szin-10;
  font-size: calc(
    12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
}
