// INFORMATIKA szó átszínezése
.nav__ul span {
  color: $szin-01;
  transition: 0.3s;

  &:hover {
    color: $szin-02;
  }
}
a {
  font-weight: 300;
  color: $szin-13;
}
// Itt kezdődik az alap osztály, amely meghatározza a kinmézetet
.container__iker {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(4, minmax(min-content, 14rem)) minmax(2rem, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-gap: 0.7rem;

  @media only screen and (min-width: 600px) {
    grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(4rem, 1fr);
  }
  @media only screen and (min-width: 720px) {
    grid-gap: 1rem;
  }
  @media only screen and (min-width: 768px) {
    grid-template-rows: repeat(3, min-content);
  }
  @media only screen and (min-width: 960px) {
    grid-template-columns: minmax(6rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(5, min-content);
  }
  
  height: 100vh;
  align-content: center;

  & > *:not(:nth-child(4)) {
    margin-bottom: 2rem;
  }

  h1 {
    min-width: min-content;
    grid-column: 2/6;
    grid-row: 1/2;
    text-align: center;
    align-self: center;

    span {
      color: $szin-05;
    }
    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
    }
    @media only screen and (min-width: 768px) {
      grid-column: 2/6;
      text-align: left;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/9;
      grid-row: 2/3;
      align-self: end;
    }
    @media only screen and (min-width: 1200px) {
      grid-column: 2/10;
    }
  }
  p {
    grid-column: 2/6;
    padding: 0 1rem;
    text-align: center;
    z-index: 1;
    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
    }
    @media only screen and (min-width: 768px) {
      grid-column: 2/6;
      grid-row: 2/3;
      text-align: left;
      padding: 0;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/8;
      grid-row: 3/4; 
    }
    @media only screen and (min-width: 1200px) {
      //grid-column: 2/9;
    }
  }
  .illustration {
    width: 60%;
    grid-column: 2/6;
    grid-row: 2/3;
    justify-self: center;
    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
    }
    @media only screen and (min-width: 768px) {
      grid-column: 5/11;
      grid-row: 1/4;
      margin-bottom: 0;
      justify-self: end;
      margin-right: 3rem;
      width: 70%;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 7/15;
      grid-row: 1/6;
      margin-right: 8rem;
    }
  }
  .btn {
    grid-column: 2/6;
    text-align: center;
    max-width: 30rem;
    justify-self: center;
    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
    }
    @media only screen and (min-width: 768px) {
      grid-column: 2/6;
      grid-row: 3/4;
      width: 14rem;
      max-width: 25rem;
      height: 3.5rem;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/8;
      grid-row: 4/5;
      width: 16rem;
      height: auto;
    }
  }
  .btn-01 {
    background-color: $szin-10;

    &:hover {
      background-color: $szin-13;
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 3rem;
      justify-self: left;
    }
  }
  .btn-02 {
    background-color: $szin-05;
    margin-top: 1.6rem;
    &:hover {
      background-color: $szin-06;
    }
    @media only screen and (min-width: 768px) {
      margin-top: 0;
      margin-left: 8rem;
    }
    @media only screen and (min-width: 960px) {
      margin-left: 8rem;
      margin-bottom: 3rem;
    }
  }
}
// Itt ér végez az alap osztály, amely meghatározza a kinézetet

// Itt kezdődik a főoldal rész
.iker-page {
  min-height: 65rem;
}
//Itt ér véget a főoldal

// Itt kezdődik a felmérő rész
.felmero-page,
.tananyag-page,
.informacio-page,
.feladatok-page {
  height: 100%;
  padding-top: 8vh;

  h1 {
    margin-top: 2rem;

    @media only screen and (min-width: 768px) {
      grid-column: 2/10;
      justify-self: center;
      margin-top: 2rem;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/14;
      grid-row: 1/2;
    }
  }

  p {
    @media only screen and (min-width: 768px) {
      grid-column: 2/10;
      grid-row: 2/3;
      text-align: center;
      padding: 0;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 3/13;
      grid-row: 2/3;
      //align-self: center;
    }
  }
  span {
    font-weight: 700;
    //color: $szin-02
  }
  img {
    width: 50%;
    @media only screen and (min-width: 768px) {
      width: 40%;
    }
  }
  .felmero__szamozas {
    padding: 2rem;
    grid-row: 3/4;
    grid-column: 2/6;
    text-align: center;

    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/14;
      text-align: justify;
      column-count: 2;
      column-gap: 6rem;
    }

    .felmero__kerdesek {
      margin-bottom: 2rem;
      color: $szin-16;
      font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
      line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
    }
    .felmero__idezet {
    }
  }
}
// Itt végződik a felmérő rész

// Itt kezdődik a tananyag rész
.tananyag-page {
  
  ul {
    grid-column: 2/6;
    grid-row: 2/3;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid $szin-08;    

    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
      justify-content: center;    
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/14;
    }

    display: flex;

    li{
      cursor: pointer;
      margin-bottom: 1rem;
      text-align: center;
      transition: 0.3s;    

      &:hover {
        color: $szin-04;
        font-weight: 700;
      }
      @media only screen and (min-width: 600px) {
        &:not(:last-child) {
          margin-right: 2rem;
        } 
      }
      @media only screen and (min-width: 768px) {
        &:not(:last-child) {
          margin-right: 3rem;        
          margin-bottom: 2rem;
        } 
      }
    }
  }
  
  .ora {
    grid-column: 2/6;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: repeat(4,minmax(min-content, 14rem));
    grid-gap: 0.4rem;

    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
      grid-template-columns: repeat(8, minmax(min-content, 14rem));}
    @media only screen and (min-width: 720px) {
      grid-gap: 0.6rem;
    }
    @media only screen and (min-width: 768px) {
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/14;
      grid-template-columns: repeat(12, minmax(min-content, 10rem));
    }

    h2 {
      grid-column: 1/5;
      margin-bottom: 2rem;
      text-align: center;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 768px) {
      //text-align: left;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 1/13;
      }
      color: $szin-02;
    }

    h3 {
      margin-top: 2rem;
      grid-column: 1/5; 
      text-align: center;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 768px) {
        text-align: left;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 2/12;
      }      
    }

    p {
      grid-column: 1/5;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 768px) {
        text-align: left;
        //margin-left: 2rem;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 2/12;
      }      
    }
    img {
      width: 100%;
      grid-column: 1/5;
      justify-self: center;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 768px) {
        justify-self: start;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 2/12;      
      }      
    }
    ol {      
      padding: 2rem 0;
      
      grid-column: 1/5;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 2/12;
      }

      li {
        margin-left: 2rem;
      }
    }
  }
}
.ora_01-page{
  h2 {}
  h3 {
    &:nth-child(3) {
    grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
    &:nth-child(17) {
      grid-row: 17/18;
    }
    &:nth-child(19) {
      grid-row: 19/20;
    }
  }
  p{          
    &:nth-child(4) {
    grid-row: 4/5;
    }
    &:nth-child(6) {
    grid-row: 6/7;
    }
    &:nth-child(8) {
    grid-row: 8/9;
    }
    &:nth-child(10) {
    grid-row: 10/11;
    }
    &:nth-child(12) {
    grid-row: 12/13;
    margin-top: 1rem;
    }
    &:nth-child(14) {
    grid-row: 14/15;
    }
    &:nth-child(16) {
    grid-row: 16/17;
    }
    &:nth-child(18) {
    grid-row: 18/19;
    }
    &:nth-child(20) {
    grid-row: 20/21;
    }
  }
  img {
    &:nth-child(11) {      
    grid-row: 11/12;
    }
    &:nth-child(15) {
      width: 70%;
    grid-row: 15/16;
    }
  }
  ol{
    li{

    }
  }
}
.ora_02-page {
  h2{
    &:nth-child(1) {
      grid-row: 1/2;
    }
  }
  h3{
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p{
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
}
.ora_03-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(21) {
      grid-row: 20/21;
    }
    &:nth-child(23) {
      grid-row: 22/23;
    }
    &:nth-child(26) {
      grid-row: 25/26;
    }    
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(18) {
      grid-row: 17/18;
    }
    &:nth-child(22) {
      grid-row: 21/22;
    }
    &:nth-child(24) {
      grid-row: 23/24;
    }
    &:nth-child(27) {
      grid-row: 26/27;
    }
  }
  img {
    &:nth-child(11) {
      grid-row: 11/12;
      width: 50%;
    }
    &:nth-child(15) {
      grid-row: 15/16;
      width: 60%;
    }
    &:nth-child(17) {
      grid-row: 16/17;
      width: 60%;
    }
    &:nth-child(19) {
      grid-row: 18/19;
      width: 60%;
    }
    &:nth-child(20) {
      grid-row: 19/20;
      width: 60%;
    }
  }
  ol{    
    &:nth-child(25)
    {
      grid-row: 24/25;
      padding: 2rem 0 0 0;
    }
  }
}
.ora_04-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
  img {
    
  }
  ul{
    li{

    }
  }
  ol{
    li{

    }
  }
}

.ora_05-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
    &:nth-child(16) {
      grid-row: 16/17;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(17) {
      grid-row: 17/18;
    }
  }
  ol{
    &:nth-child(15) {
      grid-row: 15/16;
      padding: 2rem 0 0 0;
    }
  }
}

.ora_06-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
  ol{
    &:nth-child(15) {
      grid-row: 15/16;
    }
  }
}

.ora_07-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(17) {
      grid-row: 17/18;
    }
  }
  ol{
    &:nth-child(15) {
      grid-row: 15/16;
      padding: 2rem 0 0 0;
    }
  }
}

.ora_08-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
  }
  ol{
    &:nth-child(15) {
      grid-row: 15/16;
    }
  }
}

.ora_09-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(9) {
      grid-row: 9/10;
    }
    &:nth-child(11) {
      grid-row: 11/12;
    }
    &:nth-child(13) {
      grid-row: 13/14;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
    &:nth-child(12) {
      grid-row: 12/13;
    }
    &:nth-child(14) {
      grid-row: 14/15;
    }
    &:nth-child(17) {
      grid-row: 17/18;
    }
  }
  ol{
    &:nth-child(15) {
      grid-row: 15/16;
      padding: 2rem 0 0 0;
    }
  }
}

.ora_10-page {
  h2 {
    &:nth-child(1) {
      grid-row: 1/2;
    }    
  }
  h3 {
    &:nth-child(3) {
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-row: 5/6;
    }
    &:nth-child(7) {
      grid-row: 7/8;
    }
    &:nth-child(10) {
      grid-row: 10/11;
    }
  }
  p {
    &:nth-child(2) {
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-row: 4/5;
    }
    &:nth-child(6) {
      grid-row: 6/7;
    }
    &:nth-child(8) {
      grid-row: 8/9;
    }    
    &:nth-child(11) {
      grid-row: 11/12;
    }
  }
  .tooltip {
    &:nth-child(9) {
      grid-row: 9/10;
      grid-column: 1/5;
      white-space: normal;      

      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      justify-self: center;
      }
      @media only screen and (min-width: 768px) {
      justify-self: start;
      }
      @media only screen and (min-width: 960px) {
      grid-column: 2/12;
      }
      
      .tooltiptext {
      font-family: 'Roboto', sans-serif;
      max-width: 35rem;
      width: max-width;
      left: -85%;
      padding: 1rem;

      @media only screen and (min-width: 600px) {
      max-width: 55rem;
      left: -145%;
      }
      @media only screen and (min-width: 768px) {
      max-width: 70rem;
      left: 0%;
      padding: 2rem;
      }
      @media only screen and (min-width: 960px) {
      max-width: 80rem;
      padding: 3rem;
      }
      
      &::after {
        left: 50%;
          @media only screen and (min-width: 600px) {
            left: 50%;
          }
          @media only screen and (min-width: 768px) {
            left: 5%;
          }
        }
      }
    }    
  }
}
// Itt végződik a tananyag rész

// Itt kezdődik az infomáció rész
.informacio-page {
  & > * {
    margin-bottom: 2rem; 
  }
  
  h2{
    margin-top: 3rem;
    grid-column: 2/6;
    text-align: center;
    grid-row: 2/3;
    @media only screen and (min-width: 600px) {
    grid-column: 2/10;
    }
    @media only screen and (min-width: 768px) {
    text-align: left;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 3/13;
      text-align: left;
    }
    &:nth-child(2){
      grid-row: 2/3;
    }
    &:nth-child(7){
      grid-row: 6/7;
    }
    &:nth-child(9){
      grid-row: 8/9;
    }
    &:nth-child(11){
      grid-row: 10/11;
    }
    &:nth-child(13){
      grid-row: 12/13;
    }
    &:nth-child(15){
      grid-row: 14/15;
    }
    &:nth-child(17){
      grid-row: 16/17;
    }
  }

  h3{
    grid-column: 2/6;    
    text-align: center;
    
    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
    }
    @media only screen and (min-width: 768px) {
    text-align: left;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 3/13;
      text-align: left;
    }
    &:nth-child(3){
      grid-row: 3/4;
    }
  }

  p{
    @media only screen and (min-width: 768px) {
    text-align: left;
    }
    @media only screen and (min-width: 960px) {
    text-align: left;
    }
    
    &:nth-child(4){
      grid-row:4/5;
    }
    &:nth-child(5){
      grid-row:5/6;
    }
  }

  ul{
    grid-column: 2/6;
    grid-row: 7/8;
    padding: 0 2rem;
    list-style-type: disc;
    
    display: grid;
    justify-content: center;

    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
    }
    @media only screen and (min-width: 768px) {
    justify-content: start
    }
    @media only screen and (min-width: 960px) {
      grid-column: 3/13;      
    }

    &:nth-child(10) {
      grid-row: 9/10;
    }
    &:nth-child(12) {
      grid-row: 11/12;
    }
    &:nth-child(14) {
      grid-row: 13/14;
    }
    &:nth-child(16) {
      grid-row: 15/16;
    }

    li {      
      
      @media only screen and (min-width: 768px) {
        grid-column: 3/9;
        max-width: 50rem;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 2/10;
        max-width: 60rem;
      }
    }
  }

  ol {  
    grid-column: 2/6;
    margin-left: 2rem;

    display: grid;
    justify-content: center;

    @media only screen and (min-width: 600px) {
    grid-column: 2/9;
    }
    @media only screen and (min-width: 768px) {
    justify-content: start
    }
    @media only screen and (min-width: 960px) {
      grid-column: 3/13;
    }

    &:nth-child(18) {
      grid-row: 17/18;
    }
  }
}
// Itt végződik az infomáció rész

// Itt kezdődik az feladatok rész
.feladatok-page {

  ul {
    grid-column: 2/6;
    grid-row: 2/3;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid $szin-08;    

    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
      justify-content: center;    
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/14;
    }

    display: flex;

    li {
      cursor: pointer;
      margin-bottom: 1rem;
      margin-right: 1rem;

      &:hover {
        color: $szin-04;
      }
      @media only screen and (min-width: 600px) {
        &:not(:last-child) {
          margin-right: 2rem;
        } 
      }
      @media only screen and (min-width: 768px) {
        &:not(:last-child) {
        margin-right: 3rem;        
        margin-bottom: 2rem;
        } 
      }
    }
  }
  
  .ora {
    grid-column: 2/6;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: repeat(4,minmax(min-content, 14rem));
    grid-gap: 0.4rem;

    @media only screen and (min-width: 600px) {
      grid-column: 2/10;
      grid-template-columns: repeat(8, minmax(min-content, 14rem));}
    @media only screen and (min-width: 720px) {
      grid-gap: 0.6rem;
    }
    @media only screen and (min-width: 768px) {
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/14;
      grid-template-columns: repeat(12, minmax(min-content, 10rem));
    }

    h2 {
      grid-column: 1/5;
      margin-bottom: 2rem;
      text-align: center;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 1/13;
      }
    }

    h3 {
      margin: 2rem 0 1rem 0;
      grid-column: 1/5; 
      text-align: center;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 768px) {
      text-align: left;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 1/13;
      }      
    }

    p {
      grid-column: 1/5;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 768px) {
      text-align: left;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 1/13;
      }      
    }
    img {
      width: 80%;
      grid-column: 1/5;
      justify-self: center;
      @media only screen and (min-width: 600px) {
      grid-column: 1/9;
      }
      @media only screen and (min-width: 960px) {
        grid-column: 1/13;
      }      
    }
    ol {
      margin-left: 3rem;

      @media only screen and (min-width: 960px) {
        max-width: 90rem;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }
  .accordion {
    grid-column: 1/5;
    margin-bottom: 1rem;
    @media only screen and (min-width: 600px) {
    grid-column: 1/9;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/12;
    }
    background-color: $szin-08;
    cursor: pointer;
    padding: 1.6rem;
    border: none;
    outline: none;
    transition: 0.5s;

    &:active,
    &:hover {
      background-color: $szin-09;
    }

    &:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    p{
      display: inline-block;
      @media only screen and (min-width: 960px) {
        max-width: 100%;
      }
    }    
  }  
  .active:after {
    content: "\2212";
    }

  .panel {
    grid-column: 1/5;   
    @media only screen and (min-width: 600px) {
    grid-column: 1/9;
    }
    @media only screen and (min-width: 960px) {
      grid-column: 2/12;
    }    
    display: none;
    overflow: hidden;

    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 768px) {
    align-items: flex-start;
    }

    p{
      margin: 0 0 1.5rem 0;
      @media only screen and (min-width: 960px) {
        max-width: 100%;
      }
    }
    .btn-02 {
      margin: 0;      
    }
    img {
      max-width: max-content;
      width: 50%;
    }
  }
  
  .tartalom {
    column-count: 2;
    column-gap: 10rem;
    text-align: left;

    @media only screen and (min-width: 600px) {
        column-count: 3;
    }
    @media only screen and (min-width: 768px) {
        column-count: 4;
    }
    @media only screen and (min-width: 960px) {
        column-count: 5;
        align-self: flex-start;
    }
    span {
      font-weight: 700;
    }
  }  
}
.tooltip {
    position: relative;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    
    @media only screen and (min-width: 600px) {
      text-align: left; 
      margin: 0;   
    }

    &:hover .tooltiptext{
      visibility: visible;
      opacity: 1;
    }

    .tooltiptext {
      position: absolute;
      padding: 1rem;
      width: max-content;
      background-color: #fff;
      font-family: 'Courier New', Courier, monospace; 
      color: $szin-13;
      font-weight: 300;
      font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
      bottom: 125%;
      text-align: left;
      white-space: pre-wrap; 
      
      visibility: hidden;
      opacity: 0;      
      z-index: 1;
      border: 1px solid $szin-10;
      border-radius: 1rem;
      transition: opacity 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $szin-10 transparent transparent transparent;

        @media only screen and (min-width: 768px) {
        left: 15%;
        }
      }
    }
    .bicikli {
      left: -100%;
      @media only screen and (min-width: 768px) {
        left: 0%;    
      }
    }
    .dino {
      left: -45%;
      @media only screen and (min-width: 768px) {
        left: 0%;
      }
    }
    .beka {
      left: -20%;
      @media only screen and (min-width: 768px) {
        left: 0%;
      }
    }
  }