@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #a0b2da;
  font-size: calc(24px + (45 - 24) * ((100vw - 200px) / (1920 - 200)));
}

h2 {
  color: #5a6086;
  font-size: calc( 14px + (30 - 14) * ((100vw - 200px) / (1920 - 200)));
}

h3 {
  color: #a0b2da;
  font-size: calc( 13px + (26 - 13) * ((100vw - 200px) / (1920 - 200)));
}

p {
  color: #a0b2da;
  font-size: calc( 12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
}

#visszaNyil {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  color: #4b9074;
  font-size: 4rem;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  #visszaNyil {
    bottom: 4rem;
    right: 2rem;
  }
}

.nav {
  position: absolute;
  width: 90%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.nav__ul {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav__ul li {
  cursor: pointer;
}

.nav__ul li:first-child {
  display: none;
}

.nav__ul p {
  font-size: calc(14px + (18 - 14) * ((100vw - 200px) / (1920 - 200)));
  color: #5a6086;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__ul p:hover {
  color: #ed7962;
}

.section-01 {
  height: 100vh;
  text-align: center;
  background-image: url("../img/hatter.svg");
  background-position: 45%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-01__wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.section-01 h1 {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-bottom: 6vh;
}

.section-01 h1 span {
  color: #5a6086;
}

.section-01 p {
  margin-bottom: 6vh;
  width: 85%;
}

.section-01 .illustration {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 6vh;
}

.section-01 .btn-01,
.section-01 .btn-02 {
  margin: 0 auto;
}

.section-01 .btn-01 {
  margin-bottom: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-01 .btn-01:hover {
  background-color: #f18a00;
}

.section-01 .btn-02 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #a0b2da;
}

.section-01 .btn-02:hover {
  background-color: #5a6086;
}

.section-03 {
  height: 14rem;
  background-color: #5a6086;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: 'Amatic SC',cursive;
}

.section-03 h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  margin-bottom: 1.2rem;
  font-size: calc(14px + (40 - 14) * ((100vw - 200px) / (1920 - 200)));
}

.section-03 p {
  margin: 0;
  margin-right: 20vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: calc(12px + (20 - 12) * ((100vw - 200px) / (1920 - 200)));
}

.section-04 {
  height: auto;
  background-color: #f6f6f8;
  background-image: url(../img/section-04_hatterkep.png);
  background-position: 28%;
  background-size: cover;
  text-align: center;
}

.section-04__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-04 h1 {
  margin: 6vh 0;
  color: #5a6086;
}

.section-04 p {
  margin-bottom: 6vh;
  width: 85%;
}

.section-04 p span {
  color: #5a6086;
  font-weight: 700;
}

.section-04 .kartya__wrapper {
  width: 85%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.section-04 .kartya {
  width: 100%;
  text-align: left;
  color: #a0b2da;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  -ms-grid-columns: 6rem minmax(min-content, 45rem);
      grid-template-columns: 6rem minmax(-webkit-min-content, 45rem);
      grid-template-columns: 6rem minmax(min-content, 45rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vh;
}

.section-04 .kartya__kep {
  font-size: 4rem;
  color: #ed7962;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.section-04 .kartya__cim {
  margin-bottom: 0.3vh;
  color: #5a6086;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-weight: 700;
  font-size: calc(14px + (20 - 14) * ((100vw - 200px) / (1920 - 200)));
}

.section-04 .kartya__leiras {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: calc(12px + (16 - 12) * ((100vw - 200px) / (1920 - 200)));
}

.section-04 .kartya-04 {
  margin-bottom: 0;
}

.section-04 .btn-01 {
  width: 24rem;
  margin: 6rem 0 6rem 0;
}

.btn {
  background-color: #fdc100;
  border-radius: 3rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  margin-bottom: 0;
  font-size: calc(12px + (16 - 12) * ((100vw - 200px) / (1920 - 200)));
  padding: 1rem 0;
  width: 17rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: #f18a00;
}

/*********************************
768px széles kijelzőhöz
*********************************/
@media only screen and (min-width: 768px) {
  .nav {
    width: 95%;
    max-width: 128rem;
  }
  .nav__ul li:not(:last-child) {
    margin-right: 2vw;
    white-space: nowrap;
  }
  .nav li:first-child {
    display: block;
    margin-right: 35vw;
  }
  .nav li:first-child p {
    font-weight: 300;
  }
  .nav li:first-child p:hover {
    color: #a5c86a;
  }
  .section-01 {
    background-image: url("../img/asztalGyerekVirag.svg");
    background-position: 35%;
    background-size: cover;
  }
  .section-01__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 80%;
    max-width: 128rem;
    justify-items: left;
  }
  .section-01__wrapper h1,
  .section-01__wrapper p {
    margin: 0;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
  }
  .section-01__wrapper .illustration {
    visibility: hidden;
    width: 28vw;
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .section-01__wrapper .btn {
    width: 18rem;
  }
  .section-01__wrapper .btn-01,
  .section-01__wrapper .btn-02 {
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-top: 2rem;
  }
  .section-01__wrapper .btn-02 {
    margin-left: 24rem;
  }
  .section-03 {
    height: 18rem;
  }
  .section-03 h2 {
    width: 80%;
    margin-bottom: 1.6rem;
  }
  .section-04 {
    background-position: 20%;
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8rem minmax(min-content, 128rem) 8rem;
        grid-template-columns: 8rem minmax(-webkit-min-content, 128rem) 8rem;
        grid-template-columns: 8rem minmax(min-content, 128rem) 8rem;
  }
  .section-04__wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-04 .kartya__wrapper {
    -ms-grid-columns: (minmax(30rem, 27vw))[2];
        grid-template-columns: repeat(2, minmax(30rem, 27vw));
    grid-gap: 2rem;
  }
  .section-04 .kartya {
    margin-bottom: 0;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
  }
  .section-04 .kartya__kep {
    font-size: 5rem;
  }
  .section-04 .kartya__cim {
    margin-bottom: 1rem;
  }
  .section-04 .btn-01 {
    text-align: center;
    width: 28rem;
  }
}

/*********************************
1280px széles kijelzőhöz
*********************************/
@media only screen and (min-width: 1280px) {
  .section-01__wrapper .illustration {
    width: 25vw;
  }
  .section-03 {
    height: 22rem;
  }
  .section-03 h2 {
    margin-bottom: 2rem;
    max-width: 128rem;
  }
  .section-04 {
    -ms-grid-columns: 15vw minmax(min-content, 128rem) 15vw;
        grid-template-columns: 15vw minmax(-webkit-min-content, 128rem) 15vw;
        grid-template-columns: 15vw minmax(min-content, 128rem) 15vw;
  }
  .section-04 .kartya__wrapper {
    -ms-grid-columns: (minmax(30rem, 25vw))[2];
        grid-template-columns: repeat(2, minmax(30rem, 25vw));
  }
  .section-04 .btn-01 {
    width: 32rem;
  }
}

/*********************************
1920px széles kijelzőhöz
*********************************/
@media only screen and (min-width: 1921px) {
  .nav {
    width: 100%;
    max-width: 192rem;
  }
  .section-03 {
    height: 24rem;
  }
  .section-03 h2 {
    margin-bottom: 2.4rem;
  }
  .section-04 {
    -ms-grid-columns: 20vw minmax(min-content, 128rem) 20vw;
        grid-template-columns: 20vw minmax(-webkit-min-content, 128rem) 20vw;
        grid-template-columns: 20vw minmax(min-content, 128rem) 20vw;
  }
}

.nav__ul span {
  color: #fdc100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__ul span:hover {
  color: #f18a00;
}

a {
  font-weight: 700;
  color: #e2e8f6;
}

.container__iker {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(2rem, 1fr) (minmax(min-content, 14rem))[4] minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) repeat(4, minmax(-webkit-min-content, 14rem)) minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, 1fr) repeat(4, minmax(min-content, 14rem)) minmax(2rem, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-gap: 0.7rem;
  height: calc(100vh - 8vh);
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (min-width: 600px) {
  .container__iker {
    -ms-grid-columns: minmax(4rem, 1fr) (minmax(min-content, 14rem))[8] minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(-webkit-min-content, 14rem)) minmax(4rem, 1fr);
        grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(4rem, 1fr);
  }
}

@media only screen and (min-width: 720px) {
  .container__iker {
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .container__iker {
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
  }
}

@media only screen and (min-width: 960px) {
  .container__iker {
    -ms-grid-columns: minmax(6rem, 1fr) (minmax(min-content, 10rem))[12] minmax(6rem, 1fr);
        grid-template-columns: minmax(6rem, 1fr) repeat(12, minmax(-webkit-min-content, 10rem)) minmax(6rem, 1fr);
        grid-template-columns: minmax(6rem, 1fr) repeat(12, minmax(min-content, 10rem)) minmax(6rem, 1fr);
    -ms-grid-rows: (min-content)[5];
        grid-template-rows: repeat(5, -webkit-min-content);
        grid-template-rows: repeat(5, min-content);
  }
}

.container__iker > *:not(:nth-child(4)) {
  margin-bottom: 2rem;
}

.container__iker h1 {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container__iker h1 span {
  color: #a5c86a;
}

@media only screen and (min-width: 600px) {
  .container__iker h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 768px) {
  .container__iker h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .container__iker h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media only screen and (min-width: 1200px) {
  .container__iker h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

.container__iker p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  padding: 0 1rem;
  text-align: center;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .container__iker p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 768px) {
  .container__iker p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: left;
    padding: 0;
  }
}

@media only screen and (min-width: 960px) {
  .container__iker p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.container__iker .illustration {
  width: 60%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (min-width: 600px) {
  .container__iker .illustration {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 768px) {
  .container__iker .illustration {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    margin-bottom: 0;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 3rem;
    width: 70%;
  }
}

@media only screen and (min-width: 960px) {
  .container__iker .illustration {
    -ms-grid-column: 7;
    -ms-grid-column-span: 8;
    grid-column: 7/15;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
    margin-right: 8rem;
  }
}

.container__iker .btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  text-align: center;
  max-width: 30rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (min-width: 600px) {
  .container__iker .btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 768px) {
  .container__iker .btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 14rem;
    max-width: 25rem;
    height: 3.5rem;
  }
}

@media only screen and (min-width: 960px) {
  .container__iker .btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 16rem;
    height: auto;
  }
}

.container__iker .btn-01 {
  background-color: #a0b2da;
}

.container__iker .btn-01:hover {
  background-color: #5a6086;
}

@media only screen and (min-width: 768px) {
  .container__iker .btn-01 {
    margin-bottom: 3rem;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

.container__iker .btn-02 {
  background-color: #a5c86a;
  margin-top: 1.6rem;
}

.container__iker .btn-02:hover {
  background-color: #4b9074;
}

@media only screen and (min-width: 768px) {
  .container__iker .btn-02 {
    margin-top: 0;
    margin-left: 8rem;
  }
}

@media only screen and (min-width: 960px) {
  .container__iker .btn-02 {
    margin-left: 8rem;
    margin-bottom: 3rem;
  }
}

.felmero-page,
.tananyag-page,
.informacio-page,
.feladatok-page {
  height: 100%;
  padding-top: 8vh;
}

.felmero-page h1,
.tananyag-page h1,
.informacio-page h1,
.feladatok-page h1 {
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .felmero-page h1,
  .tananyag-page h1,
  .informacio-page h1,
  .feladatok-page h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 960px) {
  .felmero-page h1,
  .tananyag-page h1,
  .informacio-page h1,
  .feladatok-page h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media only screen and (min-width: 768px) {
  .felmero-page p,
  .tananyag-page p,
  .informacio-page p,
  .feladatok-page p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (min-width: 960px) {
  .felmero-page p,
  .tananyag-page p,
  .informacio-page p,
  .feladatok-page p {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.felmero-page span,
.tananyag-page span,
.informacio-page span,
.feladatok-page span {
  font-weight: 700;
}

.felmero-page img,
.tananyag-page img,
.informacio-page img,
.feladatok-page img {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .felmero-page img,
  .tananyag-page img,
  .informacio-page img,
  .feladatok-page img {
    width: 40%;
  }
}

.felmero-page .felmero__szamozas,
.tananyag-page .felmero__szamozas,
.informacio-page .felmero__szamozas,
.feladatok-page .felmero__szamozas {
  padding: 2rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .felmero-page .felmero__szamozas,
  .tananyag-page .felmero__szamozas,
  .informacio-page .felmero__szamozas,
  .feladatok-page .felmero__szamozas {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 960px) {
  .felmero-page .felmero__szamozas,
  .tananyag-page .felmero__szamozas,
  .informacio-page .felmero__szamozas,
  .feladatok-page .felmero__szamozas {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    text-align: justify;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
}

.felmero-page .felmero__szamozas .felmero__kerdesek,
.tananyag-page .felmero__szamozas .felmero__kerdesek,
.informacio-page .felmero__szamozas .felmero__kerdesek,
.feladatok-page .felmero__szamozas .felmero__kerdesek {
  margin-bottom: 2rem;
  color: #5a6086;
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
}

.tananyag-page .tananyag__menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid #e2e8f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .tananyag__menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 960px) {
  .tananyag-page .tananyag__menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
  }
}

.tananyag-page .tananyag__oraszam {
  color: #5a6086;
  font-size: calc(11px + (18 - 11) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  cursor: pointer;
  margin-bottom: 1rem;
}

.tananyag-page .tananyag__oraszam:hover {
  color: #d64c49;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .tananyag__oraszam:not(:last-child) {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .tananyag-page .tananyag__oraszam:not(:last-child) {
    margin-right: 3rem;
    margin-bottom: 2rem;
  }
}

.tananyag-page .ora {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 14rem))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 14rem));
      grid-template-columns: repeat(4, minmax(min-content, 14rem));
  grid-gap: 0.4rem;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .ora {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-columns: (minmax(min-content, 14rem))[8];
        grid-template-columns: repeat(8, minmax(-webkit-min-content, 14rem));
        grid-template-columns: repeat(8, minmax(min-content, 14rem));
  }
}

@media only screen and (min-width: 720px) {
  .tananyag-page .ora {
    grid-gap: 0.6rem;
  }
}

@media only screen and (min-width: 960px) {
  .tananyag-page .ora {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    -ms-grid-columns: (minmax(min-content, 10rem))[12];
        grid-template-columns: repeat(12, minmax(-webkit-min-content, 10rem));
        grid-template-columns: repeat(12, minmax(min-content, 10rem));
  }
}

.tananyag-page .ora h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  margin-bottom: 2rem;
  text-align: center;
  color: #f18a00;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .ora h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 960px) {
  .tananyag-page .ora h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.tananyag-page .ora h3 {
  margin-top: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  text-align: center;
  color: #5a6086;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .ora h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 768px) {
  .tananyag-page .ora h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .tananyag-page .ora h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

.tananyag-page .ora p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .ora p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 768px) {
  .tananyag-page .ora p {
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .tananyag-page .ora p {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

.tananyag-page .ora img {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .ora img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 960px) {
  .tananyag-page .ora img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.tananyag-page .ora ol {
  padding: 2rem 0;
  color: #5a6086;
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

@media only screen and (min-width: 600px) {
  .tananyag-page .ora ol {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 960px) {
  .tananyag-page .ora ol {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

.tananyag-page .ora ol li {
  color: #a0b2da;
  margin-left: 2rem;
}

.ora_01-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_01-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_01-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_01-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_01-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_01-page h3:nth-child(17) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
}

.ora_01-page h3:nth-child(19) {
  -ms-grid-row: 19;
  -ms-grid-row-span: 1;
  grid-row: 19/20;
}

.ora_01-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_01-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_01-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_01-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_01-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
  margin-top: 1rem;
}

.ora_01-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_01-page p:nth-child(16) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
}

.ora_01-page p:nth-child(18) {
  -ms-grid-row: 18;
  -ms-grid-row-span: 1;
  grid-row: 18/19;
}

.ora_01-page p:nth-child(20) {
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  grid-row: 20/21;
}

.ora_01-page img:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_01-page img:nth-child(15) {
  width: 70%;
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
}

.ora_02-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_02-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_02-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_02-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_02-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_02-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_02-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_02-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_02-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_02-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_02-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_02-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_02-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_02-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_03-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_03-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_03-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_03-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_03-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_03-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_03-page h3:nth-child(21) {
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  grid-row: 20/21;
}

.ora_03-page h3:nth-child(23) {
  -ms-grid-row: 22;
  -ms-grid-row-span: 1;
  grid-row: 22/23;
}

.ora_03-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_03-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_03-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_03-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_03-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_03-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_03-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.ora_03-page p:nth-child(18) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
}

.ora_03-page p:nth-child(22) {
  -ms-grid-row: 21;
  -ms-grid-row-span: 1;
  grid-row: 21/22;
}

.ora_03-page p:nth-child(24) {
  -ms-grid-row: 23;
  -ms-grid-row-span: 1;
  grid-row: 23/24;
}

.ora_03-page img:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  width: 50%;
}

.ora_03-page img:nth-child(15) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
  width: 60%;
}

.ora_03-page img:nth-child(17) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
  width: 60%;
}

.ora_03-page img:nth-child(19) {
  -ms-grid-row: 18;
  -ms-grid-row-span: 1;
  grid-row: 18/19;
  width: 60%;
}

.ora_03-page img:nth-child(20) {
  -ms-grid-row: 19;
  -ms-grid-row-span: 1;
  grid-row: 19/20;
  width: 60%;
}

.ora_04-page h2:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ora_04-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.ora_04-page h3:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.ora_04-page h3:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.ora_04-page h3:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.ora_04-page h3:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.ora_04-page h3:nth-child(13) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.ora_04-page p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.ora_04-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.ora_04-page p:nth-child(6) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.ora_04-page p:nth-child(8) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.ora_04-page p:nth-child(10) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.ora_04-page p:nth-child(12) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.ora_04-page p:nth-child(14) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.informacio-page > * {
  margin-bottom: 2rem;
}

.informacio-page h2 {
  margin-top: 3rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media only screen and (min-width: 600px) {
  .informacio-page h2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 768px) {
  .informacio-page h2 {
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .informacio-page h2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
    text-align: left;
  }
}

.informacio-page h2:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.informacio-page h2:nth-child(7) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.informacio-page h2:nth-child(9) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.informacio-page h2:nth-child(11) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.informacio-page h2:nth-child(13) {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

.informacio-page h2:nth-child(15) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
}

.informacio-page h2:nth-child(17) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 1;
  grid-row: 16/17;
}

.informacio-page h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .informacio-page h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 768px) {
  .informacio-page h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .informacio-page h3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
    text-align: left;
  }
}

.informacio-page h3:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@media only screen and (min-width: 768px) {
  .informacio-page p {
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .informacio-page p {
    text-align: left;
  }
}

.informacio-page p:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.informacio-page p:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.informacio-page ul {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  padding: 0 2rem;
  list-style-type: disc;
  color: #a0b2da;
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 600px) {
  .informacio-page ul {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
}

@media only screen and (min-width: 768px) {
  .informacio-page ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (min-width: 960px) {
  .informacio-page ul {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
}

.informacio-page ul:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.informacio-page ul:nth-child(12) {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.informacio-page ul:nth-child(14) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
}

.informacio-page ul:nth-child(16) {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  grid-row: 15/16;
}

@media only screen and (min-width: 768px) {
  .informacio-page ul li {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
    max-width: 50rem;
  }
}

@media only screen and (min-width: 960px) {
  .informacio-page ul li {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    max-width: 60rem;
  }
}

.informacio-page ol {
  color: #a0b2da;
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  margin-left: 2rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 600px) {
  .informacio-page ol {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
  }
}

@media only screen and (min-width: 768px) {
  .informacio-page ol {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (min-width: 960px) {
  .informacio-page ol {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
}

.informacio-page ol:nth-child(18) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 1;
  grid-row: 17/18;
}

.feladatok-page .tananyag__menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid #e2e8f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .tananyag__menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .tananyag__menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
  }
}

.feladatok-page .tananyag__oraszam {
  color: #5a6086;
  font-size: calc(11px + (18 - 11) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  cursor: pointer;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.feladatok-page .tananyag__oraszam:hover {
  color: #d64c49;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .tananyag__oraszam:not(:last-child) {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .feladatok-page .tananyag__oraszam:not(:last-child) {
    margin-right: 3rem;
    margin-bottom: 2rem;
  }
}

.feladatok-page .ora {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 14rem))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 14rem));
      grid-template-columns: repeat(4, minmax(min-content, 14rem));
  grid-gap: 0.4rem;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .ora {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    -ms-grid-columns: (minmax(min-content, 14rem))[8];
        grid-template-columns: repeat(8, minmax(-webkit-min-content, 14rem));
        grid-template-columns: repeat(8, minmax(min-content, 14rem));
  }
}

@media only screen and (min-width: 720px) {
  .feladatok-page .ora {
    grid-gap: 0.6rem;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .ora {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
    -ms-grid-columns: (minmax(min-content, 10rem))[12];
        grid-template-columns: repeat(12, minmax(-webkit-min-content, 10rem));
        grid-template-columns: repeat(12, minmax(min-content, 10rem));
  }
}

.feladatok-page .ora h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  margin-bottom: 2rem;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .ora h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .ora h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.feladatok-page .ora h3 {
  margin-top: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  text-align: center;
  color: #5a6086;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .ora h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 768px) {
  .feladatok-page .ora h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .ora h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.feladatok-page .ora p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .ora p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 768px) {
  .feladatok-page .ora p {
    text-align: left;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .ora p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.feladatok-page .ora img {
  width: 80%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .ora img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .ora img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.feladatok-page .ora ol {
  color: #5a6086;
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1920 - 200)));
  line-height: calc(18px + (24 - 18) * ((100vw - 200px) / (1920 - 200)));
  margin-left: 2.5rem;
}

@media only screen and (min-width: 960px) {
  .feladatok-page .ora ol {
    max-width: 90rem;
  }
}

.feladatok-page .ora ol li {
  color: #a0b2da;
}

.feladatok-page .ora ul {
  margin-bottom: 0;
}

.feladatok-page .accordion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  margin-bottom: 1rem;
  background-color: #e2e8f6;
  cursor: pointer;
  padding: 1.6rem;
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .accordion {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .accordion {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

.feladatok-page .accordion:active, .feladatok-page .accordion:hover {
  background-color: #c0ceeb;
}

.feladatok-page .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.feladatok-page .accordion p {
  display: inline-block;
}

@media only screen and (min-width: 960px) {
  .feladatok-page .accordion p {
    max-width: 100%;
  }
}

.feladatok-page .active:after {
  content: "\2212";
}

.feladatok-page .panel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: none;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .panel {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .panel {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

.feladatok-page .panel p {
  margin: 2rem 0;
}

@media only screen and (min-width: 960px) {
  .feladatok-page .panel p {
    max-width: 100%;
  }
}

.feladatok-page .panel .btn-02 {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .feladatok-page .panel .btn-02 {
    margin: 0;
  }
}

.feladatok-page .tartalom {
  -webkit-column-count: 2;
          column-count: 2;
  text-align: left;
}

@media only screen and (min-width: 600px) {
  .feladatok-page .tartalom {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media only screen and (min-width: 768px) {
  .feladatok-page .tartalom {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

@media only screen and (min-width: 960px) {
  .feladatok-page .tartalom {
    -webkit-column-count: 5;
            column-count: 5;
  }
}

.feladatok-page .tartalom span {
  font-weight: 700;
}

.feladatok-page .nap_02-page h3 {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */